﻿@model OskManager.Models.FinanceViewModels.DebtsAndPaymentsViewModel

@{
    ViewData["Title"] = "Finances";
}

<h2>Finances</h2>

<p>
    <a asp-action="RegisterStudent" asp-controller="Account">Utwórz nowe konto kursanta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
                PKK
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Debts)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>

