﻿@model List<OskManager.Models.Debt>

@{
    ViewData["Title"] = "Należności";
}

<h2>Należności</h2>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tytułem
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data
            </th>
            <th>
                Klient
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DebtId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FirstName)
                    @Html.DisplayFor(modelItem => item.Student.LastName)

                </td>
                <td>
                    <a asp-action="UserFinances" asp-route-id="@item.Student.Id">Wpłaty/Należności</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<b>Suma należności: @ViewBag.Sum</b>
