﻿@model List<OskManager.Models.Payment>

@{
    ViewData["Title"] = "Payments";
}

<h2>Wpłaty</h2>

<p>
    <a asp-action="NewPayment" asp-controller="Finances">Nowa wpłata</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Tytułem
            </th>
            <th>
                Kwota
            </th>
            <th>
                Data
            </th>
            <th>
                Wpłacający
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.FirstName)
                @Html.DisplayFor(modelItem => item.Student.LastName)
            </td>
            <td>
                <a asp-action="UserFinances" asp-route-id="@item.Student.Id">Wpłaty/Należności</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<b>Suma wpłat: @ViewBag.Sum</b>
