﻿@model OskManager.Models.FinanceViewModels.UserFinancesViewModel
@{
    ViewData["Title"] = "UserFinances";
}

<h2>Konto użytkownika:</h2>

<div class="row">
    <div class="col-md-3">
        <h3>Dane konta:</h3>
        <hr />
        <dl class="dl-horizontal, jumbotron">
            <dt>
                Imię
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
            <dt>
                Nazwisko
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.LastName)
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
            <dt>
                Telefon
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.PhoneNumber)
            </dd>
            <dt>
                PKK
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Pkk)
            </dd>

        </dl>
    </div>
    <div class="col-md-9">
        <h3>Wpłaty/należności:</h3>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Rodzaj
                    </th>
                    <th>
                        Id
                    </th>
                    <th>
                        Tytułem
                    </th>
                    <th>
                        Kwota
                    </th>
                    <th>
                        Data
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Debts)
                {
                    <tr>
                        <td>
                            Należność
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DebtId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                    </tr>
                }
                

                @foreach (var item in Model.Payments)
                {
                    <tr>
                        <td>
                            Wpłata
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaymentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                    </tr>
                }
            </tbody>


        </table>
        <hr />
        <p>Suma wpłat: @ViewBag.Payments | Suma należności: @ViewBag.Debts | Saldo: @ViewBag.Sum</p>


    </div>
</div>
@if (User.IsInRole("Admin"))
{
    <div>
        <a><p id="modalShow">Dodaj wpłatę</a>
    </div>
}

<div id="modal" class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Dodaj wpłatę</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Kwota wpłaty</label>
                    <input id="amount" type="number" class="form-control" required />
                </div>
                <div class="form-group">
                    <label>Tytułem</label>
                    <input id="paymentTitle" type="text" class="form-control" required />
                </div>
            </div>
            <div class="modal-footer">
                <button id="submit" onclick="AddPayment()" class="btn btn-default btn-danger">Zapisz</button>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script>
        $("#modalShow").click(function () { $("#modal").modal('show') })

        function AddPayment() {
            var data = {
                title: $('#paymentTitle').val(),
                amount: $('#amount').val(),
                studentId: '@Model.User.Id'
            }
            $.ajax({
                url: "/Finances/AddPayment",
                data: JSON.stringify(data),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function () {
                    window.location.reload();
                },
                error: function (error) {
                    alert("Wystąpił problem.");
                }
            });
        }
    </script>
}

