﻿@model List<OskManager.Models.Student>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<style>
    #searchForm {
        float: right;
        margin-bottom: 10px;
    }

    #header {
        float: left;
        margin-bottom: 10px;
    }
</style>
<div class="panel panel-default todo-panel">
    <form asp-action="AddClient" asp-controller="Courses" method="get" id="searchForm">
        <div class="panel-heading">
            <input name="keyword" />
            <button type="submit" class="btn-danger"><i class="fas fa-search"></i></button>
        </div>
    </form>

    <table class="table" id="1">
        <thead>
            <tr>
                <th></th>
                <th>
                    Imię
                </th>
                <th>
                    Nazwisko
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telefon
                </th>
                <th>
                    PKK
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="@item.Id">
                    <th>
                        <a onclick="AddUserToCourse('@item.Id')"><i class="fas fa-plus"></i></a>
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pkk)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts
    {
    <script>
        $("#btm").click(function () {
            $("#detailsModal").modal('show');
        })
    </script>
    <script>
        function AddUserToCourse(cId) {

            var ids = {
                courseId: "@ViewBag.Id",
                studentId: cId,
            }

            if (confirm('Dodać użytkownika do kursu?')) {
                $.ajax({
                    url: "/Courses/AddUserToCourse",
                    data: JSON.stringify(ids),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function () {
                        var ide = "#" + cId;
                        $(ide).remove();
                        $("#1").add(ide);
                    },
                    error: function (error) {
                        alert("Wystąpił problem.");
                    }
                });
            }
        }
    </script>
}
