﻿@model OskManager.Models.CourseViewModels.AddCourseViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>Utwórz kurs</h2>

<h4>Podaj dane kursu</h4>
<hr />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="row">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="CourseName"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDescription"></label>
                <input asp-for="CourseDescription" class="form-control" />
                <span asp-validation-for="CourseDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LessonHours"></label>
                <input asp-for="LessonHours"  min="1" value="30" class="form-control" />
                <span asp-validation-for="LessonHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" type="number" min="1" value="1000" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-default btn-danger">Zarejestruj</button>
            </div>
        </div>

    </form>
</div>


<div>
    <a asp-action="Students">Powrót do listy</a>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}