﻿@model OskManager.Models.CourseViewModels.CourseDetailsViewModel

<h2>Szczegóły</h2>

<div class="row">
    <div class="col-md-3">
        <h3>Informacje o kursie:</h3>
        <hr />
        <dl class="dl-horizontal, jumbotron">
            <dt>
                Id
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Course.CourseId)
            </dd>
            <dt>
                Nazwa
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Course.CourseName)
            </dd>
            <dt>
                Opis
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Course.CourseDescription)
            </dd>
            <dt>
                Koszt kursu
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Course.CoursePrice)
            </dd>
            <dt>
                Data utworzenia
            </dt>
            <dd>
                @Convert.ToDateTime(Model.Course.BeginningDate).ToString("dd/MM/yyyy")
            </dd>
            <dt>
                Godziny zajęć praktycznych
            </dt>
            <dd>
                @(Model.Course.LessonHours / 60)
            </dd>
        </dl>
    </div>
    <div class="col-md-9">
        <h3>Uczestnicy kursu:</h3>
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Imię
                    </th>
                    <th>
                        Nazwisko
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        PKK
                    </th>
                    <th>
                        Pozostałe godziny
                    </th>
                    <th>
                        Usuń
                    </th>
                    <th>
                        Ponów
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClientsInCourse)
                {
                    <tr id="@item.Id">
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Pkk)
                        </td>
                        <td>
                            @(item.AvailableMinutes / 60)
                            @*@Html.DisplayFor(modelItem => item.AvailableMinutes)*@
                        </td>
                        <th>
                            <a onclick="RemoveUserFromCourse('@item.Id')"><i class="fas fa-trash-alt"></i></a>
                        </th>
                        <th>
                            @if (item.AvailableMinutes == 0)
                            {
                                <a onclick="RenewUserCourse('@item.Id')"><i class="fas fa-redo-alt"></i></a>
                            }
                            else
                            {
                                <i class="fas fa-ban"></i>
                            }
                        </th>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
<div>
    <a><p id="modalShow">Dodaj kursanta</a> |
    <a asp-action="Edit" asp-route-id="@Model.Course.CourseId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>

<div id="modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="panel panel-default todo-panel">
                <div class="panel-heading">
                    <button type="submit" class="btn-danger" onclick="Filter()"><i class="fas fa-search"></i></button>

                    <input name="keyword" id="filter" onkeyup="Filter()" />


                    <select id="filterBy">
                        <option value="0">Imię</option>
                        <option value="1">Nazwisko</option>
                        <option value="2">Email</option>
                        <option value="3">Telefon</option>
                        <option value="4">PKK</option>

                    </select>

                </div>

                <table class="table" id="studentsWithoutCourse">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Imię
                            </th>
                            <th>
                                Nazwisko
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Telefon
                            </th>
                            <th>
                                PKK
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ClientsWithoutCourse)
                        {
                            <tr id="@item.Id">
                                <th>
                                    <a onclick="AddUserToCourse('@item.Id')"><i class="fas fa-plus"></i></a>
                                </th>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pkk)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script>
        $("#modalShow").click(function () { $("#modal").modal('show') })


        function RemoveUserFromCourse(id) {
            if (confirm('Usunąć użytkownika z kursu? (usunięcie użytkownika spowoduje usunięcie dostępnych godzin z konta użytkownika)')) {
                $.ajax({
                    type: "POST",
                    url: "/Courses/RemoveUserFromCourse/" + id,
                    success: function () {
                        window.location.reload();

                    },
                    error: function (error) {
                        alert("Wystąpił problem.");
                    }
                });
            }
        }

        function RenewUserCourse(cId) {

            var ids = {
                courseId:@Model.Course.CourseId,
                studentId: cId,
            }

            if (confirm('Odnowić kurs użytkownika?')) {
                $.ajax({
                    url: "/Courses/RenewUserCourse",
                    data: JSON.stringify(ids),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function () {
                        window.location.reload();

                    },
                    error: function (error) {
                        alert("Wystąpił problem.");
                    }
                });
            }
        }


    function AddUserToCourse(cId) {

            var ids = {
                courseId: @Model.Course.CourseId,
                studentId: cId,
            }

            if (confirm('Dodać użytkownika do kursu?')) {
                $.ajax({
                    url: "/Courses/AddUserToCourse",
                    data: JSON.stringify(ids),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function () {
                        window.location.reload();
                        //var ide = "#" + cId;
                        //$(ide).remove();
                    },
                    error: function (error) {
                        alert("Wystąpił problem.");
                    }
                });
            }
        }


        function Filter() {
            var input, filter, table, tr, td, txtValue;
            input = document.getElementById("filter");
            filter = input.value.toUpperCase();
            table = document.getElementById("studentsWithoutCourse");
            tr = table.getElementsByTagName("tr");
            filterId = $("#filterBy").val();

            for (let i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[filterId];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
        }

    </script>}
