﻿@model IEnumerable<OskManager.Models.Course>
@{
    ViewData["Title"] = "Index";
}

<h2>Kursy</h2>

<p>
    <a asp-action="AddCourse">Utwórz nowy kurs</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nazwa kursu
            </th>
            <th>
                Opis
            </th>
            <th>
                Ilość godzin
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonHours)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CourseId">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.CourseId">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.CourseId">Usuń</a> |
                    <a asp-action="Students" asp-route-id="@item.CourseId">Kursanci</a>
                </td>
            </tr>
        }
    </tbody>
</table>

