﻿@model List<OskManager.Models.DrivingLesson>

<h2>Zbliżające się zajęcia:</h2>

<div class="row">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Data</th>
            <th>Planowana godz. rozpoczęcia</th>
            <th>Planowana godz. zakończenia</th>
            <th>Instruktor</th>
            <th>Nr telefonu instruktora</th>
            <th>Email</th>
            <th>Pojazd</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.BeginningDate.ToString("dd/MM/yyyy")</td>
            <td>@item.BeginningDate.ToString("hh:mm")</td>
            <td>@item.EndingDate.ToString("hh:mm")</td>
            <td>@item.Instructor.FirstName @item.Instructor.LastName</td>
            <td>@item.Instructor.PhoneNumber</td>
            <td>@item.Instructor.Email</td>
            <td>@item.Car.Brand @item.Car.Model @item.Car.RegistrationNumber</td>
        </tr>
        }
    </table>
</div>