﻿@model IEnumerable<OskManager.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h2>Baza pojazdów</h2>

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
            <th>
                Rok
            </th>
            <th>
                Numer rejestracyjny
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.CarId">Szczegóły</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
