﻿@model OskManager.Models.Car
@{
    ViewData["Title"] = "Index";
}
<br />
<div class="row">
    <div class="col-md-2">
        <label>
            Instruktor:
        </label>
        <br />
        <label>
            @ViewBag.Instructor.FirstName @ViewBag.Instructor.LastName
        </label>
        <div class="form-group">
            <label asp-for="CarId">
                Pojazd:
                <select asp-for="CarId" id="Car" asp-items="@(new SelectList(@ViewBag.Cars,"CarId","Model"))" , class="form-control"></select>
            </label>
        </div>
        <br />
        <label>
            *Podane terminy będą możliwe do rezerwacji po 24 godzinach od momentu dodania
        </label>
        <br />
        <label>
            *Terminy muszą być wyznaczane najpóźniej 48h przed ich rozpoczęciem
        </label>

    </div>
    <br />
    <div class="col-md-10">
        <div id='calendar'></div>
    </div>
</div>
<link rel='stylesheet' href='~/css/fullcalendar.css' />

@section Scripts {
    <script src='~/lib/jquery/dist/jquery.js'></script>
    <script src='~/js/moment.min.js'></script>
    <script src='~/js/fullcalendar.js'></script>
    <script src="~/js/pl.js"></script>
    <script>

        $(document).ready(function () {
            $('#Car').change(function () { FetchEventAndRenderCalendar(); })
            var events = [];
            FetchEventAndRenderCalendar();

        })

        function FetchEventAndRenderCalendar() {
            $('#calendar').fullCalendar('destroy');

            var Car = document.getElementById("Car");
            events = [];

            $.ajax({
                type: "GET",
                url: "/WorkingHours/GetEvents/" + "@ViewContext.RouteData.Values["id"]",
                success: function (data) {
                    $.each(data, function (i, v) {
                        if (Car.value == v.car.carId) {
                            events.push({
                                id: v.workingHoursId,
                                start: moment(v.beginningTime).format('YYYY/MM/DD HH:mm'),
                                end: v.endTime != null ? moment(v.endTime).format('YYYY/MM/DD HH:mm') : null,
                                created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                                color: 'orange',
                                priority: "b"
                            });
                        }

                        if (Car.value != v.car.carId) {
                            events.push({
                                title: v.car.brand + " " + v.car.model + "(Id:" + v.car.carId + ")",
                                id: v.workingHoursId,
                                start: moment(v.beginningTime).format('YYYY/MM/DD HH:mm'),
                                end: v.endTime != null ? moment(v.endTime).format('YYYY/MM/DD HH:mm') : null,
                                created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                                color: '#c93e3e',
                                priority: "b",
                                editable: false,
                                });
                            }
                    })

                    AddInaccessibleCarEvents(events);

                },
                error: function (error) {
                    alert('Wystąpił błąd.');
                }
            })
        }


        function AddInaccessibleCarEvents(events) {

            var Car = document.getElementById("Car");
            var events2 = [];

            $.ajax({
                type: "GET",
                url: "/WorkingHours/GetCarAvailability/" + Car.value,
                success: function (data) {
                    $.each(data, function (i, v) {
                        events2.push({
                            id: v.workingHoursId,
                            start: moment(v.beginningTime).format('YYYY/MM/DD HH:mm'),
                            end: v.endTime != null ? moment(v.endTime).format('YYYY/MM/DD HH:mm') : null,
                            created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                            color: "red",
                            rendering: 'background',
                            priority: "c"
                        });
                    })

                    var mergedArray = events2.concat(events);
                    var map = new Map(mergedArray.map(o => [o.id, o]));
                    var unique = [...map.values()];

                    GenerateCalender(unique);
                },

                error: function (error) {
                    alert('failed');
                }
            })
        }

        function isOverlapping(event) {
            var array = $('#calendar').fullCalendar('clientEvents');
            for (i in array) {
                if (array[i].id != event.id) {
                    if (!(array[i].start.format('YYYY/MM/DD HH:mm') >= event.end || array[i].end.format('YYYY/MM/DD HH:mm') <= event.start)) {
                        return true;
                    }
                }
            }
            return false;
        }

        function isXHoursOld(event, hours)
        {
            var date = Date.parse(event.created);
            const hour = hours * 1000 * 60 * 60;
            const hourago = Date.now() - hour;

            if (date > hourago)
            {
                return false;
            }
            else if (date <= hourago)
            {
                alert("Terminy można edytować tylko " + hours + "h od dnia dodania!");
                return true;
            }
        }

        function matchesSettings(event) {
            var endTime = new Date(Date.parse(event.end));
            var startTime = new Date(Date.parse(event.start));
            var difference = Math.abs(endTime - startTime);
            var minutes = Math.floor((difference / 1000) / 60);
            const hour = 48 * 1000 * 60 * 60;
            const hourago = Date.now() + hour;

            if (startTime < hourago)
            {
                alert("Terminy muszą być wyznaczane najpóźniej 48h przed ich rozpoczęciem.");
                return false;
            }
            else if (minutes < @ViewBag.Settings.MinTime)
            {
                 alert("Zajęcia muszą trwać conajmniej @ViewBag.Settings.MinTime minut.");
                 return false;
            }
            else
            {
                return true;
            }
        }

        function GenerateCalender(events) {
            var custom = '<select asp-for="CarId" id="Car" asp-items="@(new SelectList(@ViewBag.Cars,"CarId","Model"))" , class="form-control"></select>';

            $('#calendar').fullCalendar({
                locale: "pl",
                height: "auto",
                themeSystem: "bootstrap4",
                themeName: "Simplex",
                slotLabelInterval: "02:00",
                defaultTimedEventDuration: "02:00",
                slotLabelFormat: "HH:mm",
                slotDuration: "01:00:00",
                snapDuration: "@ViewBag.Snap",
                minTime: "01:00:00",
                maxTime: "25:00:00",
                defaultView: 'agendaWeek',

                events: events,
                selectable: true,
                eventOverlap: false,
                selectOverlap: false,


                select: function (start, end) {
                    selectedEvent = {
                        start: start.format('YYYY/MM/DD HH:mm'),
                        end: end.format('YYYY/MM/DD HH:mm'),
                        allDay: false,
                        color: ''
                    };

                    if (matchesSettings(selectedEvent) == true) {
                        Add(selectedEvent);
                    }
                    $('#calendar').fullCalendar('unselect');
                },


                eventClick: function (calEvent)
                {
                    if (!(isXHoursOld(calEvent, 24)))
                    {
                        if (calEvent.editable != false)
                        {
                            Delete(calEvent.id);
                        }
                    }
                },

                views: {
                    agendaWeek: {
                        type: 'agenda',
                        duration: { days: 7 },
                        buttonText: 'Tydzień',
                        allDaySlot: false,
                    }
                },

                editable: true,

                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {

                    if (matchesSettings(event) != true)
                    {
                        revertFunc();
                    }
                    else if (isXHoursOld(event, 24))
                    {
                        revertFunc();
                    }
                    else
                    {
                        Edit(event);
                    }
                },

                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    if (matchesSettings(event) != true)
                    {
                        revertFunc();
                    }
                    else if (isXHoursOld(event, 24))
                    {
                        revertFunc();
                    }
                    else
                    {
                        Edit(event);
                    }
                },

                eventRender: function (event, element) {
                    if (event.rendering == 'background') {
                        element.append(event.title);
                        console.log(event.id);
                    }

                    if (isOverlapping(event))
                    {
                        if (event.rendering != 'background') {
                                //$(element).css('width', '70%');
                                //$(element).css('margin-left', '0%');
                        }

                        console.log("owerlap");
                    }
                },
            })
        }

        function Add(event) {
            var Car = document.getElementById("Car");
            var toAdd = {
                BeginningTime: event.start,
                EndTime: event.end,
                instructorId: "@ViewContext.RouteData.Values["id"]",
                carId: Car.value,
            };

            $.ajax({
                url: "/WorkingHours/SaveEvent",
                data: JSON.stringify(toAdd),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status === true) {
                        FetchEventAndRenderCalendar();
                    }
                    else {
                        alert(response.message)
                    }
                },
                error: function () {
                    alert("Wystąpił problem.");
                }
            });
        }


        function Delete(ID) {
            var Car = document.getElementById("Car");
            var toDelete = {
                eventId: ID,
                instructorId: "@ViewContext.RouteData.Values["id"]",
                carId: Car.value,
            };

            $.ajax({
                url: "/WorkingHours/DeleteEvent",
                data: JSON.stringify(toDelete),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status === true) {
                        $('#calendar').fullCalendar('removeEvents', toDelete.eventId);
                    }
                    else {
                        alert(response.message)
                    }
                },
                error: function (errormessage) {
                    alert("Wystąpił problem.");
                }
            });
        }

        function Edit(event) {
            var toEdit = {
                WorkingHoursId: event.id,
                BeginningTime: event.start,
                EndTime: event.end,
            };

            $.ajax({
                url: "/WorkingHours/EditEvent",
                data: JSON.stringify(toEdit),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status != true) {
                        alert(response.message)

                    }
                },
                error: function (errormessage) {
                    alert("Wystąpił problem.");
                }
            });
        }
    </script>
}
