﻿@model OskManager.Models.WorkingHoursViewModels.ManageSettingsViewModel

@{
    ViewData["Title"] = "ManageSettings";
}

<h2>Ustawienia rezerwacji</h2>

<h4>Skonfiguruj ustawienia rezerwacji terminów zajęć praktycznych dla kursantów</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ManageSettings">
            <div class="form-group form-inline">
                <label asp-for="MinHours" class="control-label"></label>
                <select asp-for="MinHours" class="form-control" id="minHoursId"></select> :
                <select asp-for="MinMinutes" class="form-control" id="minMinutesId"></select>
            </div>

            <div class="form-group form-inline">
                <label asp-for="MaxHours" class="control-label"></label>
                <select asp-for="MaxHours" class="form-control" id="maxHoursId"></select> :
                <select asp-for="MaxMinutes" class="form-control" id="maxMinutesId"></select>
            </div>

            <div class="form-group form-inline">
                <label asp-for="ReservationsPerDay" class="control-label"></label>
                <select asp-for="ReservationsPerDay" type="number" class="form-control" required id="reservationsId" />
            </div>

            <div class="form-group form-inline">
                <input type="submit" value="Zapisz" class="btn btn-default btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            quantitydropdown();
        })

        function quantitydropdown() {
            var j = 0;

            for (var i = 0; i <= 4; i++) {
                $("#minHoursId").append($("<option></option>")
                    .attr("value", i)
                    .text(i)
                );

                $("#minMinutesId").append($("<option></option>")
                    .attr("value", j)
                    .text(j == 0 ? "00" : j)
                );

                $("#maxHoursId").append($("<option></option>")
                    .attr("value", i)
                    .text(i)
                );

                $("#maxMinutesId").append($("<option></option>")
                    .attr("value", j)
                    .text(j == 0 ? "00" : j)
                );

                $("#reservationsId").append($("<option></option>")
                    .attr("value", i)
                    .text(i)
                );


                j += 15;


            }
        }
    </script>
}

<style>
@@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>