﻿@model OskManager.Models.Instructor
@{
    ViewData["Title"] = "Index";
}

<br />
<div class="row">
    <div class="col-md-2">
        <br />
        <div class="form-group">
            <label asp-for="Id">
                Instruktor:
                <select asp-for="Id" id="Car" asp-items="@(new SelectList(@ViewBag.Instructors, "Id", "FullName"))" , class="form-control"></select>
            </label>
        </div>
        <p>
            <b id="minutes">
                Pozostałe minuty: @ViewBag.AvailableHours
            </b>
        </p>
        <br />
        <p>
            *Edycja rezerwacji jest możliwa do 24 godzin od daty jej złożenia.
        </p>
        <br />
        <p>
            *Rezerwacji należy dokonać najpóźniej 24 godziny przed rozpoczęciem zajęć.
        </p>

    </div>
    <br />
    <div class="col-md-10">
        <div id='calendar'></div>
    </div>
</div>
<link rel='stylesheet' href='~/css/fullcalendar.css' />

@section Scripts {
    <script src='~/lib/jquery/dist/jquery.js'></script>
    <script src='~/js/moment.min.js'></script>
    <script src='~/js/fullcalendar.js'></script>
    <script src="~/js/pl.js"></script>
    <script>
        $(document).ready(function () {
                $('#Car').change(function () { FetchEventAndRenderCalendar(); })
                var events = [];
                FetchEventAndRenderCalendar();
        })

        function FetchEventAndRenderCalendar() {

            $('#calendar').fullCalendar('destroy');

            var Car = document.getElementById("Car");

            events = [];

            $.ajax({

                type: "GET",

                url: "/DrivingLessons/GetEvents/" + "@ViewContext.RouteData.Values["id"]",

                success: function (data) {
                    $.each(data, function (i, v) {
                        if (Car.value == v.instructor.id)
                        {
                            events.push({
                                id: v.drivingLessonId,
                                start: moment(v.beginningDate).format('YYYY/MM/DD HH:mm'),
                                end: v.endingDate != null ? moment(v.endingDate).format('YYYY/MM/DD HH:mm') : null,
                                created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                                color: "blue",
                                priority: "a"
                                //constraint: 'available',
                                //overlap: false
                            });
                        }

                        if (Car.value != v.instructor.id) {
                            events.push({
                                title: 'Instruktor:' + '\n' + v.instructor.fullName,
                                id: v.drivingLessonId,
                                start: moment(v.beginningDate).format('YYYY/MM/DD HH:mm'),
                                end: v.endingDate != null ? moment(v.endingDate).format('YYYY/MM/DD HH:mm') : null,
                                color: "orange",
                                priority: "a",
                                editable: false
                                //rendering: "background",
                                //constraint: 'available',
                                //overlap: false,
                            });
                        }
                    })

                    NotAvailableEvents(events);
                    //DrivingLessons(events);
                },

                error: function (error) {
                    alert('failed');
                }
            })
        }

        function NotAvailableEvents(events) {
            var Car = document.getElementById("Car");
            var events2 = [];
            $.ajax({
                type: "GET",
                url: "/DrivingLessons/GetNotAvailableEvents/" + Car.value,
                success: function (data) {
                    $.each(data, function (i, v) {
                        if (data != null && v.StudentId != "@ViewContext.RouteData.Values["id"]")
                        {
                            console.log(v);
                            events2.push({
                                title: 'Termin jest już zajęty!',
                                id: v.drivingLessonId,
                                start: moment(v.beginningDate).format('YYYY/MM/DD HH:mm'),
                                end: v.endingDate != null ? moment(v.endingDate).format('YYYY/MM/DD HH:mm') : null,
                                color: 'grey',
                                textColor: 'white',
                                priority: "c",
                                editable: false,
                            });
                        };
                    });

                    var mergedArray = events2.concat(events);
                    var map = new Map(mergedArray.map(o => [o.id, o]));
                    var unique = [...map.values()];

                    AvailableEvents(unique);
                },

                error: function (error) {
                    alert('failed');
                }
            })
        }

        function AvailableEvents(events) {
            var Car = document.getElementById("Car");
            var events2 = [];
            $.ajax({
                type: "GET",
                url: "/DrivingLessons/GetInstructorAvailability/" + Car.value,
                success: function (data) {
                    $.each(data, function (i, v) {
                        console.log(v);
                        events2.push({
                            title: v.car.brand + " " + v.car.model,
                            id: v.drivingLessonId,
                            start: moment(v.beginningTime).format('YYYY/MM/DD HH:mm'),
                            end: v.endTime != null ? moment(v.endTime).format('YYYY/MM/DD HH:mm') : null,
                            color: 'green',
                            textColor: '#ff0000',
                            rendering: 'background',
                            priority: "c"
                        });
                    })
                    var mergedArray = events2.concat(events);
                    GenerateCalender(mergedArray);
                },
                error: function (error) {
                    alert('failed');
                }
            })
        }

        function isOverlapping(event) {
            var array = $('#calendar').fullCalendar('clientEvents');
            for (i in array) {
                if (array[i].id != event.id) {
                    if (!(array[i].start.format('YYYY/MM/DD HH:mm') >= event.end || array[i].end.format('YYYY/MM/DD HH:mm') <= event.start)) {
                        return array[i].id;
                    }
                }
            }
            return false;
        }

        function doubleOverlapping(event) {
            var array = $('#calendar').fullCalendar('clientEvents');
            var number = 0;
            for (i in array) {
                if (array[i].id != event.id) {
                    if (!(array[i].start >= event.end || array[i].end <= event.start)) {
                        number++;
                    }
                }
            }
            return number;
        }

        function countDailyEvents(event) {
            var eventsCount = 0;
            var array = $('#calendar').fullCalendar('clientEvents');
            for (i in array) {
                if (array[i].id != event.id) {
                    if (array[i].start.format('YYYY') == event.start.format('YYYY')
                        && array[i].start.format('MM') == event.start.format('MM')
                        && array[i].start.format('DD') == event.start.format('DD'))
                    {
                        eventsCount++;
                    }
                }
            }
            return eventsCount;
        }

        function matchesSettings(event) {
            var endTime = new Date(Date.parse(event.end));
            var startTime = new Date(Date.parse(event.start));
            var difference = Math.abs(endTime - startTime);
            var minutes = Math.floor((difference / 1000) / 60);
            const hour = 24 * 1000 * 60 * 60;
            const hourago = Date.now() + hour;


            if (isValidEvent(event.start, event.end) == true)
            {
                if (startTime < hourago)
                {
                    alert("Rezerwacji lub jej edycji można dokonać najpóźniej 24 godziny przed rozpoczęciem zajęć.");
                    return false;
                }
                else if (minutes > @ViewBag.Settings.MaxTime || minutes < @ViewBag.Settings.MinTime)
                {
                    alert("Zajęcia muszą trwać conajmniej @ViewBag.Settings.MinTime i maksymalnie @ViewBag.Settings.MaxTime minut.");
                    return false;
                }
                return true;
            }
            return false;
        }


        var isValidEvent = function (start, end) {
            return $("#calendar").fullCalendar('clientEvents', function (event) {
                return (event.rendering === "background" && event.priority === "c" &&
                    (start.isAfter(event.start) || start.isSame(event.start)) &&
                    (end.isBefore(event.end) || end.isSame(event.end)));
            }).length > 0;
        };

        function GenerateCalender(events) {
            $('#calendar').fullCalendar({
                locale: "pl",
                height: "auto",
                themeSystem: "bootstrap4",
                themeName: "Simplex",
                slotLabelInterval: "02:00",
                slotLabelFormat: "HH:mm",
                slotDuration: "01:00:00",
                snapDuration: "@ViewBag.Snap",
                minTime: "01:00:00",
                maxTime: "25:00:00",

                events: events,
                selectable: true,
                eventOverlap: true,
                selectOverlap: true,
                slotEventOverlap: false,

                eventClick: function (calEvent) {

                    var date = Date.parse(calEvent.created);
                    const hour = 24 * 1000 * 60 * 60;
                    const hourago = Date.now() - hour;
                    if (date > hourago) {
                        if (calEvent.editable != false) {
                            Delete(calEvent.id);
                        }
                    }
                    else if (date < hourago) {
                        alert("Rezerwację można edytować tylko 24h od dnia jej złożenia!");
                    }
                },

                defaultView: 'agendaWeek',

                views: {
                    agendaWeek: {
                        type: 'agenda',
                        duration: { days: 7 },
                        buttonText: 'Tydzień',
                        allDaySlot: false,
                    }
                },

                editable: true,

                select: function (start, end) {
                    newEvent = {
                        start: start,
                        end: end,
                    };

                    if (matchesSettings(newEvent) == true) {
                        if(countDailyEvents(newEvent) == @ViewBag.Settings.ReservationsPerDay - 1) {
                            if (isValidEvent(start, end) && doubleOverlapping(newEvent) < 1) { //only add it if it's valid
                                selectedEvent = {
                                    start: start.format('YYYY/MM/DD HH:mm'),
                                    end: end.format('YYYY/MM/DD HH:mm'),
                                    constraint: 'available',
                                    allDay: false,
                                    color: ''
                                };
                                if (selectedEvent != null) {
                                    selectedEvent.id = isOverlapping(selectedEvent);
                                }
                                Add(selectedEvent);
                                $('#calendar').fullCalendar('unselect');
                            }
                        }
                        else { alert("Maksymalna liczba zajęć na dzień to: @ViewBag.Settings.ReservationsPerDay"); }
                    }
                },

                eventDrop: function (event, delta, revertFunc, jsEvent, ui, view) {
                    if ((doubleOverlapping(event) > 1) || (!(isValidEvent(event.start, event.end))) || matchesSettings(event) != true || countDailyEvents(event) >= @ViewBag.Settings.ReservationsPerDay + 1)
                    {
                        revertFunc();
                    }
                    else
                    {
                        Edit(event);
                    }
                },

                eventResize: function (event, delta, revertFunc, jsEvent, ui, view) {
                    if ((doubleOverlapping(event) > 1) || (!(isValidEvent(event.start, event.end))) || matchesSettings(event) != true) {
                        revertFunc();
                    }
                    else
                    {
                        Edit(event);
                    }
                },

                eventRender: function (event, element) {
                    if (event.rendering == 'background') {
                        element.append(event.title);
                        $(element).css('color', 'black');
                        console.log(event.id);
                    }
                },
            })
        }

        function Add(event) {
            var Car = document.getElementById("Car");
            var toAdd = {
                BeginningTime: event.start,
                EndTime: event.end,
                StudentId: "@ViewContext.RouteData.Values["id"]",
                InstructorId: Car.value
            };


            $.ajax({
                url: "/DrivingLessons/SaveEvent",
                data: JSON.stringify(toAdd),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status === true) {
                        window.location.reload();
                    //FetchEventAndRenderCalendar();
                    }
                    else {
                        alert(response.message)
                    }
                },
                error: function (exceptionThrown) {
                    alert(JSON.parse(exceptionThrown.responseText));

                }
            });
        }


        function Delete(ID) {
            var Car = document.getElementById("Car");
            var toDelete = {
                eventId: ID,
                StudentId: "@ViewContext.RouteData.Values["id"]",
            };

            $.ajax({
                url: "/DrivingLessons/DeleteEvent",
                data: JSON.stringify(toDelete),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status === true) {
                        window.location.reload();
                        //FetchEventAndRenderCalendar();
                    }
                    else {
                        alert(response.message)
                    }


                },
                error: function (errormessage) {
                    alert("Wystąpił problem.");
                }
            });
        }

        function Edit(event) {
            var toEdit = {
                BeginningTime: event.start,
                EndTime: event.end,
                StudentId: "@ViewContext.RouteData.Values["id"]",
                EventId: event.id,
            };

            $.ajax({
                url: "/DrivingLessons/EditEvent",
                data: JSON.stringify(toEdit),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.status === true) {
                        window.location.reload();
                        //FetchEventAndRenderCalendar();
                    }
                    else {
                        alert(response.message)
                    }
                },

                error: function (errormessage) {
                    //revertFunc();
                    var errorData = $.parseJSON(xhr.responseText);
                    alert("Wystąpił problem." + errorData.stringify);
                }
            });
        }
    </script>
}
