﻿@model OskManager.Models.Student
@{
    ViewData["Title"] = "Delete";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć tego użytkownika z bazy?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Nazwisko
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Pesel
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt>
            Ulica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            Miasto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Kod pocztowy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt>
            Numer telefonu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Numer PKK
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pkk)
        </dd>
    </dl>

    <form asp-action="DeleteStudent">
        <input type="submit" value="Usuń" class="btn btn-default btn-danger" /> |
        <a asp-action="Students">Powrót do listy</a>
    </form>
</div>

