﻿@model OskManager.Models.AccountViewModels.RegisterInstructorViewModel
@using System.Linq;

@{
    ViewData["Title"] = "EditInstructor";
}

<h2>Edycja</h2>

<h4>Edytuj dane instruktora</h4>
<hr />
<div asp-validation-summary="All" class="text-danger"></div>

<div class="row">
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel"></label>
                <input asp-for="Pesel" type="number" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>

            <hr />
            <div class="form-group">
                <label asp-for="Street"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-4 col-lg-offset-2">
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="number" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <label asp-for="LicenceNumber"></label>
                <input asp-for="LicenceNumber" class="form-control" />
                <span asp-validation-for="LicenceNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValidThru"></label>
                <input asp-for="ValidThru" type="date" class="form-control" />
                <span asp-validation-for="ValidThru" class="text-danger"></span>
            </div>
            
            <br />

            <button type="submit" class="btn btn-default btn-danger">Zarejestruj</button>

        </div>
    </form>
</div>


<div>
    <a asp-action="Students">Powrót do listy</a>
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
