﻿@model IEnumerable<OskManager.Models.Instructor>

@{
    ViewData["Title"] = "Instructors";
}

<h2>Instruktorzy</h2>

<p>
    <a asp-action="RegisterInstructor" asp-controller="Account">Utwórz nowe konto instruktora</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    <a asp-action="Index" asp-controller="WorkingHours" asp-route-id="@item.Id">Grafik</a> |
                    <a asp-action="EditInstructor" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="InstructorDetails" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="DeleteInstructor" asp-route-id="@item.Id">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
