﻿@model OskManager.Models.Instructor

@{
    ViewData["Title"] = "InstructorDetails";
}

<h2>Szczegóły</h2>

<div>
    <h3>Dane instruktora:</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Nazwisko
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Pesel
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt>
            Ulica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            Miasto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Kod pocztowy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt>
            Numer telefonu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Numer licencji
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InstructorLicence.LicenceNumber)
        </dd>
        <dt>
            Licencja ważna do
        </dt>
        <dd>
            @Convert.ToDateTime(Model.InstructorLicence.ValidThru).ToString("dd/MM/yyyy")
        </dd>
    </dl>

    <div>
        <a asp-action="EditInstructor" asp-route-id="@Model.Id">Edytuj</a> |
        <a asp-action="Instructors">Powrót do listy</a>
    </div>
</div>
