﻿@model OskManager.Models.Student
@{
    ViewData["Title"] = "StudentDetails";
}

<h2>Szczegóły</h2>

<div>
    <h3>Dane kursanta:</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            Nazwisko
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            Pesel
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pesel)
        </dd>
        <dt>
            Ulica
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.Street)
        </dd>

        <dt>
            Miasto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>

        <dt>
            Kod pocztowy
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.PostalCode)
        </dd>
        <dt>
            Numer telefonu
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Numer PKK
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pkk)
        </dd>
    </dl>

    <div>
        <a asp-action="EditStudent" asp-route-id="@Model.Id">Edytuj</a> |
        <a asp-action="Students">Powrót do listy</a>
    </div>
</div>