﻿@model IEnumerable<OskManager.Models.Student>

@{
    ViewData["Title"] = "Students";
}

<h2>Kursanci</h2>

<p>
    <a asp-action="RegisterStudent" asp-controller="Account">Utwórz nowe konto kursanta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
                PKK
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pkk)
                </td>
                <td>
                    <a asp-action="EditStudent" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="StudentDetails" asp-route-id="@item.Id">Szczegóły</a> |
                    <a asp-action="DeleteStudent" asp-route-id="@item.Id">Usuń</a> |
                    <a asp-action="Index" asp-controller="DrivingLessons" asp-route-id="@item.Id">Rezerwacje</a> |
                    <a asp-action="UserFinances" asp-controller="Finances" asp-route-id="@item.Id">Wpłaty/Należności</a>
                </td>
            </tr>
        }
    </tbody>
</table>
