﻿@{
    ViewData["Title"] = "Błąd dostępu";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Nie masz odpowiednich uprawnień do przeglądania tej strony.</p>
</header>
