﻿@model FirstLoginViewModel
@{
    ViewData["Title"] = "FirstLogin";
}

<h2>Zmień hasło</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <h4>Utwórz nowe hasło dla swojego konta.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default btn-danger">Zmień hasło</button>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
