﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Zaloguj się";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-4, col-sm-4, jumbotron">
        <section>

            <h2>@ViewData["Title"]</h2>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="forgot">
                    <p>
                        <a asp-action="ForgotPassword">Zapomniałeś hasła?</a>
                    </p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-danger">Zaloguj się</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
