﻿@{
    ViewData["Title"] = "Index";
}

<link rel='stylesheet' href='~/css/fullcalendar.css' />
<br />
<label id="test"></label>
<div id='calendar'></div>

@section Scripts {
    @*<script src='~/lib/jquery/dist/jquery.js'></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
    <script src='~/js/moment.min.js'></script>
    <script src='~/js/fullcalendar.js'></script>
    <script src="~/js/pl.js"></script>

    <script>

        var id = "";
        var notes = "";
        var status = "";

        $(document).ready(function () {
            AddWorkingHours();
        })

        $(document.body).on('hide.bs.modal,hidden.bs.modal', function () {
            $('body').css('padding-right', '0');
        });

        $("#btnDone").click(function () {
            $("#detailsModal").modal('hide');
            $("#expandedDetailsModal").modal('show');
            $("#expModalTitle").text("Wypełnij kartę zadań");
            status = "ended";
            AddWorkingHours();
        });

        $("#btnCanceled").click(function () {
            $("#detailsModal").modal('hide');
            $("#expandedDetailsModal").modal('show');
            $("#expModalTitle").text("Podaj powód odwołania zajęć");
            status = "canceled";
            AddWorkingHours();

        });

        $("#btnCancel").click(function () {
            $("#expandedDetailsModal").modal('hide');
        });

        $("#btnSend").click(function () {
            $("#expandedDetailsModal").modal('hide');
            notes = document.getElementById("descriptionField").value;
            document.getElementById("descriptionField").value = "";
            Edit();
            console.log(id + " " + status + " " + notes);
        });

        function AddWorkingHours() {
            $('#calendar').fullCalendar('destroy');

            events = [];

            $.ajax({
                type: "GET",
                url: "/Instructor/GetWorkingHours/" + "@ViewBag.Id",
                success: function (data) {
                    $.each(data, function (i, v) {
                        events.push({
                            start: moment(v.beginningTime).format('YYYY/MM/DD HH:mm'),
                            end: v.endTime != null ? moment(v.endTime).format('YYYY/MM/DD HH:mm') : null,
                            created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                            color: 'orange',
                            priority: "b",
                            rendering: 'background',
                        });
                    });
                    AddDrivingLessons(events);
                },
                error: function (error) {
                    alert('Wystąpił błąd.');
                },
            })
        }

        function AddDrivingLessons(events) {
            $('#calendar').fullCalendar('destroy');

            $.ajax({
                type: "GET",
                url: "/Instructor/GetDrivingLessons/" + "@ViewBag.Id",
                success: function (data) {
                    $.each(data, function (i, v) {
                        if (v.isEnded == false && v.isCanceled == false) {
                            events.push({
                                id: v.drivingLessonId,
                                title: v.student.firstName + " " + v.student.lastName,
                                email: v.student.email,
                                phone: v.student.phoneNumber,
                                car: v.car.brand + " " + v.car.model + " " + v.car.registrationNumber,
                                start: moment(v.beginningDate).format('YYYY/MM/DD HH:mm'),
                                end: v.endingDate != null ? moment(v.endingDate).format('YYYY/MM/DD HH:mm') : null,
                                created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                                color: 'orange',
                                priority: "b",
                                ended: false,
                                canceled: false,
                            });
                        }
                        else {
                            events.push({
                                id: v.drivingLessonId,
                                title: v.student.firstName + " " + v.student.lastName,
                                email: v.student.email,
                                phone: v.student.phoneNumber,
                                car: v.car.brand + " " + v.car.model + " " + v.car.registrationNumber,
                                start: moment(v.beginningDate).format('YYYY/MM/DD HH:mm'),
                                end: v.endingDate != null ? moment(v.endingDate).format('YYYY/MM/DD HH:mm') : null,
                                created: moment(v.createdAt).format('YYYY/MM/DD HH:mm'),
                                color: 'red',
                                priority: "b",
                                ended: v.isEnded,
                                canceled: v.isCanceled,

                            });
                        }
                    });

                    GenerateCalender(events);

                },
                error: function (error) {
                    alert('Wystąpił błąd.');
                },

            })
        }

        function GenerateCalender(events) {

            $('#calendar').fullCalendar({
                locale: "pl",
                height: "auto",
                themeSystem: "bootstrap4",
                themeName: "Simplex",
                slotLabelInterval: "02:00",
                defaultTimedEventDuration: "02:00",
                slotLabelFormat: "HH:mm",
                slotDuration: "01:00:00",
                snapDuration: '00:15:00',
                minTime: "01:00:00",
                maxTime: "25:00:00",
                defaultView: 'agendaWeek',

                events: events,
                selectable: false,
                eventOverlap: true,
                selectOverlap: false,

                eventClick: function (calEvent) {
                    if (calEvent.ended == true || calEvent.canceled == true) {
                        $("#btnDone").attr("disabled", "disabled");
                        $("#btnCanceled").attr("disabled", "disabled");
                    }
                    else {
                        $("#btnDone").attr("enabled", "enabled");
                        $("#btnCanceled").attr("enabled", "enabled");

                    }

                    id = calEvent.id;
                    $("#detailsModal").modal('show');
                    $("#modal-studentName").text("Kursant: " + calEvent.title);
                    $("#modal-studentEmail").text("Email: " + calEvent.email);
                    $("#modal-studentPhone").text("Telefon: " + calEvent.phone);
                    $("#modal-startDate").text("Data rozpoczęcia: " + calEvent.start.format('YYYY/MM/DD HH:mm'));
                    $("#modal-endDate").text("Data zakończenia: " + calEvent.end.format('YYYY/MM/DD HH:mm'));
                    $("#modal-car").text("Pojazd: " + calEvent.car);

                },

                views: {
                    agendaWeek: {
                        type: 'agenda',
                        duration: { days: 7 },
                        buttonText: 'Tydzień',
                        allDaySlot: false,
                    }
                },

                editable: false,

                eventRender: function (event, element) {
                    if (event.rendering != 'background') {
                        $(element).css('width', '94%');
                        $(element).css('margin-left', '3%');
                    }
                },
            })
        }



        function Edit() {
            var toEdit = {
                EventId: id,
                Notes: notes,
                Status: status
            };

            $.ajax({
                url: "/Instructor/EditEvent",
                data: JSON.stringify(toEdit),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (status) {
                    //$('#calendar').fullCalendar('destroy');
                    //FetchEventAndRenderCalendar();
                },

                error: function (errormessage) {
                    //revertFunc();
                    //var errorData = $.parseJSON(xhr.responseText);
                    alert("Wystąpił problem.");
                }
            });
        }
    </script>
}

<div class="modal fade" id="detailsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle">Szczegóły zajęć</h4>
            </div>
            <div class="modal-body">
                <h4 id="modal-studentName"></h4>
                <h4 id="modal-studentEmail"></h4>
                <h4 id="modal-studentPhone"></h4>
                <h4 id="modal-startDate"></h4>
                <h4 id="modal-endDate"></h4>
                <h4 id="modal-car"></h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="btnDone">
                    Zgłoś zakończenie zajęć
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button class="btn btn-danger" id="btnCanceled">
                    Zgłoś odwołanie zajęć
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="expandedDetailsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="expModalTitle"></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <textarea class="form-control" id="descriptionField" maxlength="200" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit" name="button" id="btnSend">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" id="btnCancel">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>


<style>
    .modal-open {
        padding-right: 0 !important;
        overflow: auto;
    }

    textarea {
        resize: vertical;
    }

    .modal-body .form-horizontal .form-group {
        margin: 0 auto 15px;
    }
</style>