﻿@model List<OskManager.Models.DrivingLesson>

<h2>Zbliżające się zajęcia:</h2>

<div class="row">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Data</th>
            <th>Planowana godz. rozpoczęcia</th>
            <th>Planowana godz. zakończenia</th>
            <th>Kursant</th>
            <th>Nr telefonu kursanta</th>
            <th>Email</th>
            <th>Pojazd</th>
            <th>Karta zajęć</th>

        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.BeginningDate.ToString("dd/MM/yyyy")</td>
            <td>@item.BeginningDate.ToString("hh:mm")</td>
            <td>@item.EndingDate.ToString("hh:mm")</td>
            <td>@item.Student.FirstName @item.Student.LastName</td>
            <td>@item.Student.PhoneNumber</td>
            <td>@item.Student.Email</td>
            <td>@item.Car.Brand @item.Car.Model @item.Car.RegistrationNumber</td>
            <td><a asp-action="StudentLessonsHistory" asp-controller="Student" asp-route-id="@item.Student.Id">Otwórz</a></td>
        </tr>
        }
    </table>
</div>