﻿@model List<OskManager.Models.DrivingLesson>

@section Scripts {

    <script>
        $(document.body).on('hide.bs.modal,hidden.bs.modal', function () {
            $('body').css('padding-right', '0');
        });

        function ShowCanceled(notes) {
            $("#detailsModal").modal('show');
            $("#modalTitle").text("Zajęcia odwołane");
            $("#notes").text("Powód odwołania: " + notes);
        };

        function ShowEnded(notes) {
            $("#detailsModal").modal('show');
            $("#modalTitle").text("Zajęcia zakończone");
            $("#notes").text("Przebieg zajęć: " +notes);
        };
    </script>
}

<h2>Zakończone zajęcia:</h2>

<div class="row">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Data</th>
            <th>Godz. rozpoczęcia</th>
            <th>Godz. zakończenia</th>
            <th>Kursant</th>
            <th>Nr telefonu kursanta</th>
            <th>Email</th>
            <th>Pojazd</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.BeginningDate.ToString("dd/MM/yyyy")</td>
            <td>@item.BeginningDate.ToString("hh:mm")</td>
            <td>@item.EndingDate.ToString("hh:mm")</td>
            <td>@item.Student.FirstName @item.Student.LastName</td>
            <td>@item.Student.PhoneNumber</td>
            <td>@item.Student.Email</td>
            <td>@item.Car.Brand @item.Car.Model @item.Car.RegistrationNumber</td>
            @if (item.IsCanceled == true)
            {
                <td><a onclick="ShowCanceled(`@item.Notes`)">Odwołane</a></td>
            }
            else
            {
                <td><a onclick="ShowEnded(`@item.Notes`)">Zakończone</a></td>
            }
        </tr>
        }
    </table>
</div>



<div class="modal fade" id="detailsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modalTitle"></h4>
            </div>
            <div class="modal-body">
                <h4 id="notes"></h4>
            </div>
        </div>
    </div>
</div>